body{
margin:0;
font-family:Arial;
color:white;

/* Better night road background */
background-image:url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee");

background-size:cover;
background-position:center;
background-repeat:no-repeat;
height:100vh;
}

.header{
background:rgba(0,0,0,0.7);
padding:20px;
text-align:center;
font-size:28px;
}

.center{
text-align:center;
margin-top:200px;
}

button{
padding:12px 25px;
font-size:18px;
margin:10px;
cursor:pointer;
border:none;
border-radius:5px;
background:#ff3c00;
color:white;
}

button:hover{
background:#ff0000;
}

.popup{
display:none;
background:white;
color:black;
padding:20px;
width:300px;
margin:auto;
border-radius:10px;
}